body {
    background-color: lightblue;
    font-size: 25px;
    padding: 25px;
  }
  #knowledge-header {
    display: flex;
    justify-content: center;
    background: pink;
    /* opacity: .8; */
    height: 10rem;
    padding: 3rem;
  }
  /* #teachers-list { 
      display: inline-block; 
      float:left;
      padding: 20px;
    } */
    /* #teachers-list,
    #students-list { 
    display: inline-block;
    vertical-align: top;
} */
        /* display: inline-block; 
        float:right;
        padding: 20px; */
    
      